span {
    border-radius: 4px;
}

.text-requirement {
    font-size: 0.75rem;
    color: #afafaf;
    margin: 0;
}

.container {
    max-width: 1100px;
}

.img-hover-text {
    top: 4px;
    right: 4px;
} 

.footer {
    position: static!important;
}

.fa-cart-plus {
    font-size: 1.25rem;
    color: rgb(var(--bs-dark-rgb));
}

.btn-outline-secondary:hover .fa-cart-plus {
    color: rgb(var(--bs-light-rgb));
}
